<!doctype html>
<html>
<head>
<title>Epirus News Agency</title>
</head>
<body>
<header><img src="/img/logo.png" alt="Epirus News Agency" height="50px" width="50px"></header>
{{{body}}}
</body>
</html>